
.page {
  /* Максимальная ширина текста в строках */
  max-inline-size: 700px;
  margin: 100px auto;
  /* Минимальная ширина текста в строках */
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font),'Helvetica', 'Arial', sans-serif;
  /* динамически задаёт толщину шрифта */
  font-variation-settings: 'wght' var(--weight-font-main);
  background-image: 
    var(--gradient-liner-horizontal), 
    var(--gradient-liner-vertical), 
    var(--gradient-blackout);
  background-size: cover;
  background-repeat: no-repeat;
  /* фон фиксируется и не прокручивается вместе со страницей */
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 128px;
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  gap: 52px;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__title {
  display: flex;
  align-items: center;
  font-size: 18px;
  /* высота строки текста */
  line-height: 21.78px;
  /* динамически задаёт толщину шрифта */
  font-variation-settings: 'wght' var(--weight-font-title);
  /* горизонтальные отступы */
  padding-inline: 10px;
  /* вертикальные отступы */
  padding-block: 3px;
  border-bottom: 2px solid #000;
}

.card__wrap_image {
  position: relative;
}

.card__image-label {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 25px;
  /* режим смешивания слоя с фоном , hard-light даёт контрастное осветление */
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color), 1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
}

/* проверка, поддерживает ли браузер свойство */
@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__image-label {
    /* рисует обводку текста */
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
} 

.card__image {
  display: block;
  /* ширина элемента по текстовой оси */
  inline-size: 100%;
  /* изображение обрезается, но закрывает весь блок */
  object-fit: cover;
  /* блок держит квадратные пропорции */
  aspect-ratio: 1 / 1;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  /* высота строки текста */
  line-height: 21px;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px 0;
  gap: 2px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* Плавное изменение тени */
  transition: box-shadow 0.3s ease;
  position: relative;
  /* скрывает всё содержимое, выходящее за границы */
  overflow: hidden;
  border: 2px solid #000;
}

.button:hover {
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible:not(.card__icon-button) {
  box-shadow: 2px 2px 0px 0px #000;
  outline: none;
}

.card__icon-button {
  display: flex;
  align-self: center;
  /* Максимальная высота элемента */
  max-block-size: 38px;
  background-color: #fff;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button::before {
  content: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.card__like-button {
  min-height: 38px;
  min-width: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  /* режим смешивания, создающий инверсирующий контраст между элементом и фоном */
  mix-blend-mode: difference;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  /* высота строки текста */
  line-height: 21px;
}

.button__save {
  gap: 8px;
  padding: 15px;
  min-width: 335px;
  min-height: 51px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  color: #fff;
  /* режим смешивания, создающий инверсирующий контраст между элементом и фоном */
  mix-blend-mode: difference;
}

.dialog[open] {
  display: grid;
  gap: 30px;
  padding: 30px;
  /* Максимальная ширина элемента */
  max-inline-size: 353px;
  position: fixed;
}

.dialog[open] .floppy {
  /* ширина высота */
  inline-size: 39px;
  block-size: 39px;
}

.dialog__title {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.dialog__button {
  block-size: 38px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.filter-brightness {
  /* делает элемент ярче */
  filter: brightness(180%);
}

.filter-opacity {
  filter: opacity(60%);
}

.filter-grayscale {
  /* чёрно-белое */
  filter: grayscale(90%);
}

.filter-combo {
  /* размывает элемент на 2px и поворачивает оттенки цвета на 290 */
  filter: blur(2px) hue-rotate(290deg);
}

.filter-soft-invert {
  /* инвертирует цвета полностью и снижает насыщенность до 70 */
  filter: invert(100%) saturate(70%);
}

.card__image-label:has( + .filter-soft-invert) {
  /* режим смешивания, создающий инверсирующий контраст между элементом и фоном */
  mix-blend-mode: difference;
}

.filter-contrast {
  /* увеличивает контраст */
  filter: contrast(200%);
}

.filter-sepia {
  /* тёплого коричневый фильтр */
  filter: sepia(80%);
}

.filter-hue {
  /* поворачивает оттенки цвета на 45 */
  filter: hue-rotate(45deg)
}


@media (width <= 376px) {
  .header {
    padding-block: 120px;
  }

  .card__image-label {
    top: 22px;
    right: 12px;
  }

  .card__content {
    /* отступ с внутренней правой стороны */
    padding-inline-end: 26px;
  }

  .button__save {
    flex-direction: column;
    min-width: 306px;
    min-height: 84px;
    padding-block: 15px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog[open] {
    padding: 32px 40px;
    max-inline-size: 341px;
  }

}
